div {
    text-align: center;
    color: aliceblue;
    background-image: linear-gradient(black, rgb(0, 0, 83));
  }

/* h1 {
    text-align: center;
    color: aliceblue;
} */

/* p {
    text-align: center;
    color: aliceblue;
} */

/* textarea {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 300ms;
}

textarea:hover, textarea:active {
    opacity: 0.9;
} */

