div {
    text-align: center;
    color: aliceblue;
    background-image: linear-gradient(black, rgb(0, 0, 83));
  }

#inputArea {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 300ms;
}

#inputArea:focus-within, #inputArea:hover {
    opacity: 0.9;
}

